Source: sway
Section: x11
Priority: optional
Maintainer: Aleksey Samoilov <samoilov.lex@gmail.com>
Build-Depends: debhelper (>= 11),
                      libwlroots-dev (>= 0.6),
                      libwayland-dev,
                      libinput-dev (>= 1.6.0),
                      libcap-dev,
                      libpcre3-dev,
                      libjson-c-dev (>= 0.13),
                      libpango1.0-dev,
                      libcairo2-dev,
                      libgdk-pixbuf2.0-dev,
                      libpam0g-dev,
                      libdbus-1-dev (>= 1.10),
                      libsystemd-dev (>= 239),
                      wayland-protocols (>= 1.15),
                      meson,
                      pkg-config,
                      tree,
                      scdoc (>= 1.8.1)
Standards-Version: 4.3.0
Homepage: http://swaywm.org

Package: sway
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libwlroots0 (>=0.4)
Recommends: sway-backgrounds
Suggests: swayidle, swaylock, swaybg
Description: i3-compatible Wayland compositor
 sway (SirCmpwn's Wayland compositor) is a tiling Wayland compositor and a
 drop-in replacement for the i3 window manager for X11. It works with your
 existing i3 configuration and supports most of i3's features, plus a few
 extras. This means it is a minimalist, tiling window manager.

Package: sway-backgrounds
Architecture: all
Multi-Arch: foreign
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Suggests: sway
Description: Set of backgrounds packaged with the sway window manager
 sway (SirCmpwn's Wayland compositor) is a tiling Wayland compositor and a
 drop-in replacement for the i3 window manager for X11. It works with your
 existing i3 configuration and supports most of i3's features, plus a few
 extras. This means it is a minimalist, tiling window manager.
 .
 This package contains a set of desktop backgrounds that come with sway.
