Package: sway-dbgsym
Package-Type: ddeb
Source: sway
Version: 1:1.5-rc1-luis1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Sway and related packages team <team+swaywm@tracker.debian.org>
Installed-Size: 1012
Depends: sway (= 1:1.5-rc1-luis1)
Section: debug
Priority: optional
Description: debug symbols for sway
Build-Ids: 16e331ccb5d633af0bed56977125c9f77c51b25b 957adaea16c33316c80c6364a22bd75d4622c786 9a3369de0c01c1d9ae35265acacdd8973f4e34cb a7dcdd9de0150e295cb4b7001e7c745af6baf2fe
