Package: sway-dbgsym
Package-Type: ddeb
Source: sway
Version: 1:1.5-rc1-luis1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Sway and related packages team <team+swaywm@tracker.debian.org>
Installed-Size: 1012
Depends: sway (= 1:1.5-rc1-luis1)
Section: debug
Priority: optional
Description: debug symbols for sway
Build-Ids: 35bf3ad9f3e716f6f4b9ac6b46819675d55a2dab 4bddccefec764d01d44258506f6c9662f834924a 898a84e13d3179e63df787fdf1d3e6452397add9 9e940abe11646635a9d43f7cfa0fba9cf07532e0
